FINNHUB_API_KEY=your_finnhub_api_key_here
APP_PASSWORD=choose_a_strong_password
JWT_SECRET=generate_with__python_-c__import_secrets;_print(secrets.token_hex(32))
FMP_API_KEY=your_fmp_api_key_here
STOCKDATA_API_KEY=your_stockdata_api_key_here
# REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt  # needed inside Docker container
MASSIVE_API_KEY=your_massive_api_key_here
